st.font:		PragmataPro Mono-16
st.bold_font:		1
st.termname:		xterm-256color
st.shell:		/bin/sh
st.bellvolume:		100
st.tabspaces:		8
st.chscale:		1.0
st.cwscale:		1.0

#include "~/.config/xresources/pallete"

