st.font:		PragmataPro Mono-16
st.bold_font:		1
st.background:		#263238
st.foreground:		#cfd8dc
st.cursorColor:		#607d8b
st.termname:		xterm-256color
st.shell:		/bin/sh
st.bellvolume:		100
st.tabspaces:		8
st.chscale:		1.0
st.cwscale:		1.0

*.color0:	#212121
*.color8:	#000000
*.color1:	#e91e63
*.color9:	#ff4081
*.color2:	#8bc34a
*.color10:	#76ff03
*.color3:	#ffc107
*.color11:	#ffeb3b
*.color4:	#03a9f4
*.color12:	#40c4ff
*.color5:	#673ab7
*.color13:	#7c4dff
*.color6:	#009688
*.color14:	#1de9b6
*.color7:	#f5f5f5
*.color15:	#ffffff
